device_id: 666

host: host.com
port: 1883
username: username
password: password

qos: 0
retain: True

subscribe:
  - Set/yard/#

publish:
  37:
    interval: 60 # in seconds
    bus_topic: Bus/topic
    pin_topic:
      0: Pin/topic/0
      1: # if none - using bus topic
      2: # if none - using bus topic
      3: # if none - using bus topic
      4: Pin/topic/4
      5: Pin/topic/5
      6: Pin/another/topic/6
      7: Pin/another/topic/7